<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--Meta values-->
	
	<appSettings>
		<add key="PowerFlatlineWindow" value="10" />
		<add key="PowerFlatLineEta" value="2" />
		<add key="PowerSpikeTreshold" value="5" />
		<add key="VoltageImbalance" value="2" />		<!--In procentages-->
		<add key="OverTempTreshold" value="40" />
	</appSettings>
	<!--Service host and endpoints-->
	<system.serviceModel>
		<services>
			<service name="Service.SessionService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002" />
					</baseAddresses>
				</host>
				<endpoint address="SessionService" binding="netTcpBinding" contract="Common.Contracts.ISessionService">
				</endpoint>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="1000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
					
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>